name: Continuous Integration

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: MilesChou/composer-action/8.1@master
      with:
           args: install
    - uses: MilesChou/composer-action/8.1@master
      with:
           args: test
      env:
        CI: true
